{% extends 'base.html' %} 
{% block content %}

<div class="message-area">
    <h2 class="room-heading">Room Code: {{code}}</h2>
    <div class="message" id="messages"></div>
    <div class ="input-messages">
        <input type="text"  background-color="blue" placeholder="Type a message" name = "message" id="message">
        <button type="button" name = "send" id="sending-button" onClick="deliver_message()">Send</button>
    </div>

</div>
<script type = "text/javascript">
    var socketio = io();

    const messages = document.getElementById("messages")

    const createMessage = (name, msg) => {
        const content = `
        <div class="text">
            <span>
                <strong>${name}</strong>: ${msg}
            </span>
            <span class="timeReceived">
                ${new Date().toLocaleString()}
            </span>
        </div>
        `;
        messages.innerHTML += content;
    };

    socketio.on("message", (data) => {
        createMessage(data.name, data.message);
    });

    const deliver_message = () => {
        const message = document.getElementById("message");
        if (message.value == "") return;
        socketio.emit("message", { data: message.value });
        message.value = "";
    };



</script>

{% for msg in messages%}
    <script type = "text/javascript">
        createMessage("{{msg.name}}", "{{msg.message}}")
    </script>
{% endfor%}

{% endblock %}
